*{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 16px;
}

 @page {
        size: 2800px 1900px;
        margin: 0;
    }

html, body {
        width: 2800px;
        height: 1900px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: Arial, sans-serif;
    }

table, tr, td, th {
    page-break-inside: avoid;
    break-inside: avoid;
}

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        padding: 5px;
        text-align: center;
        font-size: 12px;
        margin: 1px;
    }

    tr, td {
        page-break-inside: avoid !important;
    }


.titulo-semestre {
    background-color: rgb(97,102,113);
	font-weight: bold;
}


.titulo-vertical-celda {
    writing-mode: vertical-rl;
    text-align: center;
    display: block;
    height: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
    color: white;
}

.margenes-barra {
    padding: 5px;
    margin: 5px;
}

.card-tamano {
    width: 180px;
    height: 100px;
    
}

.semestre-tamano {
    width: 120px;
    height: 60px;
	font-weight: bold;
}

.area-es {
    background-color: rgb(93, 188, 179);
    border-color: rgb(93, 188, 179);
    border-radius: 10px;
}
    

.area-ba {
    background-color: rgb(224, 129,49);
    border-color: rgb(224, 129,49);
    border-radius: 10px;

}

.area-el {
    background-color: rgb(151, 36,117);
    border-color: rgb(151, 36,117);
    border-radius: 10px;

}

.area-el-leyenda {
    background-color: rgb(151, 36,117);
    border-color: rgb(151, 36,117);
    border-radius: 10px;
    border: none;
    height: auto;
}

.area-ba-leyenda {
    background-color: rgb(224, 129,49);
    border-color: rgb(224, 129,49);
    border-radius: 10px;
    border: none;
    height: auto;
}

.area-es-leyenda {
    background-color: rgb(93, 188, 179);
    border-color: rgb(93, 188, 179);
    border-radius: 10px;

}

.sem-celda {
    padding: 10px;
    border-radius: 10px;
    width: 180px;
    height: 60px;
	font-weight: bold;
}  


.data-celda {
    padding: 10px;
    border-radius: 10px;
    width: 180px;
    height: 120px;
}
.data-nombre-asignatura {
    width: 150px;
    height: 85px;
    padding: 0px;
    margin: 0px;
    font-size: smaller;
}

.data-sct {
    width: 150px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    font-size: smaller;
    justify-content: right;
}

.data-prerequisito {
    width: 150px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    font-size: smaller;
    justify-content: left;
}


.tabla-scrolleable {
    display:inline-block;
    overflow-x:auto;
}
